@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

/* reset CSS "start" */

* {
   margin: 0;
   padding: 0;
}

:root {
   box-sizing: border-box;
   --ubuntu-font: 'Ubuntu', sans-serif;
}

*,
::before,
::after {
   box-sizing: inherit;
}

html {
   scroll-behavior: smooth;
}

/* Reset CSS "end" */

/* Header "start" */

.navbar {
   height: 4rem;
}

/* Header "end" */

/* Main "start" */

/* First section */

/* Second section */

.img-custom {
   width: 10%;
   height: auto;
}

.banner div img{
   min-height: 40vh;
}

/* Third section */

@media only screen and (max-width: 767px){


   .navbar{
      height: 80px;
   }

   .img-container img{
      min-height: 30vh;
   }
   .cards-inner{
      width: 80%;
   }


}


@media only screen and (min-width: 768px) {

   /* Header */




   /* Second section */



   /* Third section */

   
   .img-container, .img-container img{
      display: block;
      margin: 0 auto;
   }

   /* Third section */

   .cards-inner {
      display: flex;
      height: 30rem;
      width: 85%;
      margin: 0 auto;
   }

   .cards-item {
      margin-right: 0;
      margin-left: 0;
      flex: 0 0 calc(100%/3);
      display: block;
   }

   .card {
      margin: 0 .5em;
      box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
      border: none;
      max-width: 20rem;
      max-height: 344px;
      max-width: 20rem;
      min-height: 28rem;
   }

   .card img {
      width: 320px;
      height: 192px;
   }

   .c-img{
      height: 192px;
   }

   .card-title {
      font-size: 18px;
   }

   .card-text {
      font-size: 15px;
   }

   .button-container {
      padding-top: 1rem;
   }

   .carousel-control-prev, .carousel-control-next {
      background-color: #e1e1e1;
      width: 6vh;
      height: 6vh;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
   }

   .btn-info {
      position: absolute;
      top: 389.328px;
   }

}

@media only screen and (min-width: 992px) {

   /* Third section */

   .cards-inner {
      height: 30rem;
      width: 100%;
   }

   .card-img{
      width: 320px;
      height: 224px;
   }

   .card-title {
      font-size: 18px;
   }


   .card-text {
      font-size: 15px;
   }

   .cards-item {
      margin-right: 0;
      flex: 0 0 20%;
      display: block;
   }

}

@media only screen and (min-width: 1419px) {

   /* Second section */
   .second-section{
      height: 300px;
   }

   /* Third section */
   .card-title {
      font-size: 20px;
   }

   .card-text {
      font-size: 16px;
   }
}




/* Main "end */


/* Footer "start" */

/* First section */

.footer-container{
   margin-top: 3rem;
}

.icon-first-part-footer-page {
   background-color: #333;
   border-radius: 50%;
   border: 1px solid #444;
   height: 40px;
   width: 40px;
   margin: 0 0.25rem;
   color: #ddd;
   display: flex;
   align-items: center;
   justify-content: center;
}

.icon-first-part-footer-page:hover {
   cursor: pointer;
}

/* Second section */

.second-part-footer {
   margin: 0 0 0.5rem 1.3rem;
}

.second-part-footer-container h5 {
   color: rgba(255, 255, 255, 0.55);
}

.second-part-footer-p-container p {
   color: rgba(255, 255, 255, 0.70);
   font-size: 0.82rem;
   margin-bottom: 0.25rem;
}

/* Third section */

.third-section p {
   color: rgba(255, 255, 255, 0.55);
}

/* Footer "end" */