@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

/* reset CSS "start" */

* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  --ubuntu-font: 'Ubuntu', sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(245, 243, 236);
}

/* Reset CSS "end" */

/* Header "start" */

.navbar {
  height: 4rem;
}

/* Header "end" */

/* Main "start" */

/* First section */

.second-section{
  margin-top: 6rem;
}

.description{
  font-size: 23px;
}

/* Second section */

.img-custom {
  width: 10%;
  height: auto;
}

.banner-img {
  width: 100vh;
}



/* Third section */

/* Footer */
.footer-container {
  margin-top: 1rem;
}

.icon-first-part-footer-page {
  background-color: #333;
  border-radius: 50%;
  border: 1px solid #444;
  height: 40px;
  width: 40px;
  margin: 0 0.25rem;
  color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .icon-first-part-footer-page:hover {
    cursor: pointer;
  }

  /* Second section */

  .second-part-footer-container h5 {
    color: rgba(255, 255, 255, 0.55);
  }

  .second-part-footer-p-container p {
    color: rgba(255, 255, 255, 0.70);
    font-size: 0.82rem;
    margin-bottom: 0.25rem;
  }

  /* Third section */

  .third-section p {
    color: rgba(255, 255, 255, 0.55);
  }

@media only screen and (max-width: 576px){

  .logout{
    margin: 0 auto 0 auto
  }

  .banner-img {
    width: 60vh;
  }

  /* Footer */
  .icon-first-part-footer-page{
    width: 30px;
    height: 30px;
  }
  
}

@media only screen and (min-width: 576px) {

  .logout {
    padding-right: 3rem;
  }


  .second-part-footer-container, .second-part-footer-p-container {
    flex-wrap: wrap;
  }

}


@media only screen and (max-width: 767px) {

  .navbar {
    height: 105px;
  }

  .second-section{
    margin-top: 8rem;
  }

  .second-part-footer-p-container p{
    font-size: 13px;
 }


}
@media only screen and (min-width: 768px) {

  /* Header */


  .logout {
    padding-right: 3rem;
  }


  /* Second section */



  /* Third section */

  
}

@media only screen and (max-width: 1050px) {

  /* Footer */
  .second-part-footer-container, .second-part-footer-p-container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: block;
 }

  /* Second section */

}

@media only screen and (min-width: 1051px) {

  /* Footer */
  .second-part-footer-container, .second-part-footer-p-container{
    margin-left: 1rem;
    flex-wrap: wrap;
 }
 .second-part-footer-p-container{
  margin: 0 0 0 0;
 }

  /* Second section */

}

@media only screen and (min-width: 992px) {

    /* Third section */


    /* Footer */

    /* Second section */

}

@media only screen and (min-width: 1419px) {
  /* Second section */

  /* Main "end */

  /* Footer "start" */
  /* First section */

 .footer-container {
  margin-top: 3rem;
}

.icon-first-part-footer-page {
  background-color: #333;
  border-radius: 50%;
  border: 1px solid #444;
  height: 40px;
  width: 40px;
  margin: 0 0.25rem;
  color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .icon-first-part-footer-page:hover {
    cursor: pointer;
  }

  /* Second section */

  .second-part-footer-container h5 {
    color: rgba(255, 255, 255, 0.55);
  }

  .second-part-footer-p-container p {
    color: rgba(255, 255, 255, 0.70);
    font-size: 0.82rem;
    margin-bottom: 0.25rem;
  }

  /* Third section */

  .third-section p {
    color: rgba(255, 255, 255, 0.55);
  }
}