@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

/* reset CSS "start" */

* {
  margin: 0;
  padding: 0;

}

:root {
  box-sizing: border-box;
  --ubuntu-font: 'Ubuntu', sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth; 
}

body{
  background-color: #f3f3e9;
}

/* Reset CSS "end" */

/* Header "start" */

.navbar {
  height: 4rem;
}

.logout {
  padding-right: 3rem;
}


/* Header "end" */

/* Main "start" */

/* First section */

.first-section{
  margin-bottom: 3rem;
}

.product-name {
  margin-bottom: 3rem;
}

.banner-img {
  width: 50%;
  height: 60vh;
  min-height: 10vh;
}

.carousel-control-prev{
  background-color: black;
}

.carousel-control-next{
  background-color: black;
}

/* Second section */

.second-section{
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.description-title{
  margin-bottom: 3rem;  
}

.description p{
  font-size: 22px;
}

.third-section{
  margin-bottom: 3rem;
}

/* Main "end */


/* Footer "start" */

/* First section */

.footer-container {
  margin-top: 3rem;
}

.icon-first-part-footer-page {
  background-color: #333;
  border-radius: 50%;
  border: 1px solid #444;
  height: 40px;
  width: 40px;
  margin: 0 0.25rem;
  color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-first-part-footer-page:hover {
  cursor: pointer;
}

/* Second section */

.second-part-footer-container h5 {
  color: rgba(255, 255, 255, 0.55);
}

.second-part-footer-p-container p {
  color: rgba(255, 255, 255, 0.70);
  font-size: 0.82rem;
  margin-bottom: 0.25rem;
}

/* Third section */

.third-section p {
  color: rgba(255, 255, 255, 0.55);
}

/* Footer "end" */